@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

@font-face {
  font-family: 'Blokk';
  src: url("../fonts/blokk/BLOKKRegular.eot");
  src: url("../fonts/blokk/BLOKKRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/blokk/BLOKKRegular.woff") format("woff"), url("../fonts/blokk/BLOKKRegular.svg#BLOKKRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 35, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
body {
  background: url(../images/body-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #111;
  color: #444;
  font-size: 110%;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.5em;
}

/* line 49, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.container-640px {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 10px;
}

/* line 56, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.padding-bottom-10 {
  padding-bottom: 10px;
}

/* line 60, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.header {
  background: rgba(255, 255, 255, 0.85);
  height: 70px;
  padding: 5px;
  overflow: hidden;
}

/* line 67, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.content {
  background: rgba(255, 255, 255, 0.9);
  max-width: 500px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

/* line 75, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.content h1 {
  margin-top: 0;
  font-weight: 100;
}

/* line 80, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.footer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #ddd;
  font-size: 13px;
}

/* line 88, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.license {
  float: left;
}

/* line 92, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
.contributors {
  float: right;
}

@media all and (min-width: 650px) {
  /* line 98, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .morph-button {
    display: inline-block !important;
  }
}
@media all and (max-width: 650px) {
  /* line 114, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  body {
    background: #eee;
  }

  /* line 118, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .container-640px {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 123, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .content {
    background: #eee;
    max-width: initial;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
  }

  /* line 131, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .footer {
    max-width: initial;
    margin: 0 auto;
    text-align: center;
    color: #666;
    font-size: 13px;
    padding: 20px;
    width: 100%;
  }

  /* line 141, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .morph-button {
    margin: 10px 5px !important;
  }

  /* line 145, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .morph-button-fixed {
    width: 70px;
    font-size: 70%;
  }

  /* line 150, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .sb-search {
    margin-right: 0;
  }
}
@media all and (max-width: 480px) {
  /* line 158, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  body {
    background: #eee;
  }

  /* line 162, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .logo {
    width: 100px;
    margin-top: 15px;
  }

  /* line 167, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .sb-search {
    margin-right: 0px;
    margin-left: 5px;
  }

  /* line 172, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .morph-button {
    margin: 10px 5px !important;
  }

  /* line 176, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .morph-button-fixed {
    width: 70px;
    font-size: 70%;
  }

  /* line 181, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .content-style-form .icon-close {
    top: 15px;
    right: 15px;
    font-size: 80%;
  }

  /* line 187, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .content {
    background: none;
    max-width: initial;
    margin: 0 auto;
    width: 100%;
  }

  /* line 194, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .padding-bottom-10 {
    padding-bottom: 0;
  }

  /* line 198, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .footer {
    max-width: initial;
    margin: 0 auto;
    text-align: left;
    color: #666;
    font-size: 13px;
    padding: 20px;
    width: 100%;
  }

  /* line 208, C:/Users/Kevin/PycharmProjects/Stringulator/stringulator/static/stylesheets/partials/_test.scss */
  .footer span {
    display: block;
    width: 100%;
    float: none;
  }
}
