{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
  {% block title %}
    {% include "homepage/header.html" %}
  {% endblock %}
</head>

<body class="home">
<div class="wrapper">
  <div class="header">
    <div class="container-640px">
      <a href="/"><img class="logo" src="{{ STATIC_URL }}images/logo.svg"></a>

      <div id="sb-search" class="sb-search">
        <form action="/search/" role="search">
          <input class="sb-search-input" placeholder="Find string sets!" type="text" value="" name="query"
                 id="search">
          <input class="sb-search-submit" type="submit" value="">
          <span class="sb-icon-search"></span>
        </form>
      </div>

      <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
        {% if is_logged_in %}
          <button type="button">
            <a href=/profile/>
              {{ username }}
            </a>
          </button>
        {% else %}
          <button type="button">Login</button>
          <div class="morph-content" style="left: 625.59375px; top: 446.234375px;">
            <div>
              <div class="content-style-form content-style-form-1">
                <span class="icon icon-close">Close the dialog</span>

                <h2>Login</h2>

                <form action="/authorize-account/" method="post">
                  {% csrf_token %}
                  <p><label>Username</label>
                    <input type="text" name="username"
                           value="" id="username" placeholder="Username" class="form-control">
                  </p>

                  <p><label>Password</label>
                    <input type="password" name="password"
                           value="" id="password" placeholder="Password" class="form-control">
                  </p>

                  <p>
                    <button type="submit">Login</button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        {% endif %}

      </div>


      <div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">


        <button type="button">Signup</button>
        <div class="morph-content">
          <div>
            <div class="content-style-form content-style-form-2">
              <span class="icon icon-close">Close the dialog</span>

              <h2>Sign Up</h2>

              <form>
                <p><label>Username</label><input type="text"></p>

                <p><label>Password</label><input type="password"></p>

                <p><label>Repeat Password</label><input type="password"></p>

                <p>
                  <button>Sign Up</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% block content %}
    <div class="homepage">
      <h1>Welcome!</h1>

      <p><b>Stringulator</b> allows you to create custom guitar string sets. After you build a set, you can save them to
        your profile to compare to other sets you've tried. Don't want to make your own String Set? Use the search bar
        to find custom sets other Stringulator users are rocking! If you have questions on how to use the site
        check out the GitHub Readme or use the Contact Us page to send us a message.</p>

      <p class="padding-bottom-10">
        <a class="button-1" href="calculate/?string_set_name=8%20string%20set&users_set=micah">
          Check out an example set!
        </a>
      </p>

      <p class="padding-bottom-10">
        <a class="button-1" href="pretty-calculate/?string_set_name=8%20string%20set&users_set=micah">
          Check out the new calculate page!
        </a>
      </p>

      <p><a class="button-1" href="https://github.com/gajewsk2/Stringulator">Check out our GitHub!</a></p>
    </div>
  {% endblock %}

  <div class="footer"><span class="license">Licensed under MIT 2014</span><span class="contributors">Micah Gajewski | Kevin Restaino</span>
  </div>
</div>


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  {% if debug %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/homepage/scripts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/homepage/classie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/homepage/uisearch.js"></script>
    <script>
      new UISearch(document.getElementById('sb-search'));
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}testing/uiMorphingButton_fixed.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}testing/helpers.js"></script>


    <!-- calculate -->
    <script src="{{ STATIC_URL }}scripts/calculate/calculate.js"></script>
    <script src="{{ STATIC_URL }}scripts/calculate/add_row.js"></script>
    {#    <script src="{{ STATIC_URL }}scripts/bootstrap/tooltip.js"></script>#}
    {#    <script src="{{ STATIC_URL }}scripts/bootstrap/popover.js"></script>#}
    <script src="{{ STATIC_URL }}scripts/calculate/popover_header_info.js"></script>

  {% else %}
    <script src="{{ STATIC_URL }}scripts/stringulator.min.js"></script>
    <script>
      new UISearch(document.getElementById('sb-search'));
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/uiMorphingButton_fixed.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/helpers.js"></script>
  {% endif %}
{% endblock %}
</body>
</html>
