{% extends 'base.html' %}
{% load static %}
{% load get_range %}

{% block breadcrumb %}
    <li class="active"><a href="/calculate">Calculate</a></li>

    {% if not is_logged_in %}
        <li><a href="/accounts/register">Register</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>Hover over a fields header to get more information!</h4>
    <form method="get" action="/save-set/">
    {# Contains the json file for the strings in the string set #}
    <input type="hidden" id="string_data" name="variable" value='{{ json_data }}'>
    {# String Set Name #}
     <table border="1" >
        <tr>
            <th><div id="string_set_name" class="popover_header">String Set Name</div></th>
            <td><input name="string_set_name" class="string_set_name" type="text" name="scale_length" value="{{ string_set_name }}"></td>

        </tr>
         <tr>
             <th><div class="popover_header" id="desc">Description</div></th>
             <td>
                <textarea id="desc" name="desc" cols="50" rows="3">{{ desc }}</textarea>
            </td>
         </tr>
        <br>
     </table>
         <table border="1" >
        <tr>
                <th>
                    <div class="popover_header" id="mscale">
                        Multi-Scale &nbsp<input type="checkbox" id="mscale_checkbox" name="is_mscale" value="True"
                           {% if is_mscale %}
                                checked="true"
                           {% else %}

                           {% endif %}>
                        &nbsp
                    </div>
                </th>
        </tr>

         <tr id="number_of_strings_row" class="hidden_row" hidden = "hidden">

            <th class="hidden_row" hidden = "hidden" ><div class="hidden_row" hidden = "hidden"><div class="popover_header" id="number_of_strings_popover" >Total Number of Strings</div></div></th>
            <td class="hidden_row" hidden = "hidden"><div class="hidden_row" hidden = "hidden">
                <input name="number_of_strings" id="number_of_strings" class="number_of_strings_input user_input" type="text" name="number_of_strings" value="{{ number_of_strings }}">
            </div></td>

        </tr>
         <br>
        <tr>
            <th><div class="popover_header" id="scale_length_popover">Scale Length</div></th>
            <td><input name="scale_length" id="scale_length"  class="scale_length_input user_input" type="text" name="scale_length"></td>
        </tr>
    </table>

    <table>


        <td>
        </td>
    </table>
    <br>
    <table border="1" id="strings-tbl" >
        <tr>
            <th><div class="popover_header" id="number">Number</div></th>
            <th><div class="popover_header" id="note">Note</div></th>
            <th><div class="popover_header" id="octave">Octave</div></th>
            <th><div class="popover_header" id="gauge">Gauge</div></th>
            <th><div class="popover_header" id="string-type">String Type</div></th>
            <th><div class="popover_header" id="tension">Tension</div></th>
        </tr>

        {# New User String Form #}
        {% for i in 1|get_range %}
            <tr id="string_row{{ forloop.counter0 }}">
                {% include "includes/forms.html" %}

            </tr>
        {% endfor %}

    </table>

{#        <button id=insert-more type="button" class="btn btn-primary pull-left">Add String</button>#}
{#        <button class="btn btn-success pull-right" type="submit">Save String Set</button>#}
    <table border="0">
    <tr>
        <td><button class="btn btn-primary" id="insert-more" type="button" >
            <span class="glyphicon glyphicon-plus btn-divider"></span>
            Add String</button>
        </td>

            <td>
                <button class="btn btn-success"  id="save-set" type="submit" name="save-set" value="{{ string_set_name }}">
                    <span class="glyphicon glyphicon-floppy-disk btn-divider"></span>
                    Save String Set
                </button>
            </td>

    </tr>
    </table>
    </form>


{% endblock %}
{% block scripts %}
    {{ block.super }}


{#    {% if debug %}#}
{#        <script src="{% static 'js/calculate.js' %}"></script>#}
{#        <script src="{% static 'js/add_row.js' %}" ></script>#}
{#        <script src="{% static 'bootstrap/js/tooltip.js' %}"></script>#}
{#        <script src="{% static 'bootstrap/js/popover.js' %}"></script>#}
{#        <script src="{% static 'js/popover_header_info.js' %}" ></script>#}
{#    {% else %}#}

{#    {% endif %}#}

    <script type="text/javascript">

        var numberOfRows = 1;
        $("#insert-more").click(function () {
            newRow()
            resetBackgroundColor()
            addChangeEvent()
        });

        var string_set_data = document.getElementById("string_number_GTC_0").value;
        var json = "{{someDjangoVariable}}".replace(/&quot;/g, "\"")
        var newJSON = json.replace("[", "{\"gstring\":[")
        var newJSON1 = newJSON.replace("]", "]}")
        json = json.slice(1);
        json = json.substring(0, json.length - 1);
        var json1 = JSON.stringify(eval("(" + newJSON1 + ")"));
        var json1 = jQuery.parseJSON(newJSON1);
        var keys = Object.keys(json1);


        for (var index = 0; index < json1.gstring.length; index += 1){
                newRow()
                $('#string_number_GTC_' + index).val(json1.gstring[index].fields.string_number);
                $('#note_GTC_' + index).val(json1.gstring[index].fields.note);


            var gauge = formatGauge(json1.gstring[index].fields.gauge.toString());
{#            console.log(gauge);#}

                $('#gauge_GTC_' + index).val(gauge);
                $('#octave_GTC_' + index).val(json1.gstring[index].fields.octave);
                $('#string_set_GTC_' + index).val(json1.gstring[index].fields.string_set);
                $('#string_type_GTC_' + index).val(json1.gstring[index].fields.string_type);
                $('#scale_length').val(json1.gstring[index].fields.scale_length);
        }


        function formatGauge(gauge){
           gauge = (parseFloat(gauge).toString()).replace(/^[0]+/gi, '');
            return gauge;
        }
    </script>

    <script type="text/javascript">
    </script>
{% endblock %}




{##}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>#}
{#<script src="C:/Users/Micah/Desktop/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>#}
{#<script src="C:/Users/Micah/Desktop/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>#}
