body {
    text-align: center;
}

#page {
    width: 960px;
    text-align: left;
    margin: 10px auto 20px auto;
    background-color: #0C0C0C;
}

#sidebar {
    float: right;
    width: 200px;
    border: 1px solid #000;
    background-color: Green ;
}

#content {
    float: right;
    width: 600px;
    border: 1px solid #F00;
    padding: 10px;
    background-color: #00ffe2;
}

tr.table_row{
    display:none
}

.btn-divider{
       text-align:center;
    padding: 1px 4px 4px 1px;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    border-right: 1px solid #ffffff;
}