{% load get_range %}
<!DOCTYPE html>
<html>

<td >
    <input name="string_number_GTC_{{ forloop.counter0 }}"  class="row_input" id="string_number_GTC_{{ forloop.counter0 }}" type="text" name="string_number" size="3">
</td>

<td >
<select class="row_input" id="note_GTC_{{ forloop.counter0 }}" name="note_GTC_{{ forloop.counter0 }}">
  <option value="-">-</option>
  <option value="A">A</option>
  <option value="A#/Bb">A#/Bb</option>
  <option value="B">B</option>
  <option value="C">C</option>
  <option value="C#/Db">C#/Db</option>
  <option value="D">D</option>
  <option value="E">E</option>
  <option value="F">F</option>
  <option value="F#/Gb">F#/Gb</option>
  <option value="G">G</option>
  <option value="G#/Ab">G#/Ab</option>
</select>
</td>

<td >
<select class="row_input" id="octave_GTC_{{ forloop.counter0 }}" name="octave_GTC_{{ forloop.counter0 }}">
    {% for i in 11|get_range %}
        {% if forloop.first %}
            <option value="-">-</option>
        {% else %}
            <option value="{{ i }}">{{ i }}</option>
        {% endif %}
    {% endfor %}
</select>
</td>

<td>
    <input class="row_input" id="gauge_GTC_{{ forloop.counter0 }}" name="gauge_GTC_{{ forloop.counter0 }}" type="text" name="gauge" size="3">
</td>

<td >
<select class="row_input" id="string_type_GTC_{{ forloop.counter0 }}" name="string_type_GTC_{{ forloop.counter0 }}">
    <option value="-">-</option>
    <option value="PL">Plain</option>
    <option value="PB">Phosphorus Bronze</option>
    <option value="NW">Nickel Wound</option>
    <option value="XS">Stainless Steel</option>
    <option value="HR">Half-Round</option>
</select>
</td>

<td><div id="tension_GTC_{{ forloop.counter0 }}" name="tension_GTC_{{ forloop.counter0 }}">tension goes here</div></td>
<td><a class="delete" onclick="delete_user($(this))">Delete</a></td>
</html>