@import url(http://styles/fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);
/* line 1, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
body {
  text-align: center;
}

/* line 5, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
.jumbotron {
  max-width: 700px;
  margin: 120px auto;
  background: rgba(255, 255, 255, 0.85);
}

/* line 11, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
footer {
  padding: 25px;
  background: rgba(255, 255, 255, 0.85);
}

/* line 16, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
#page {
  width: 960px;
  text-align: left;
  margin: 10px auto 20px auto;
  background-color: #0C0C0C;
}

/* line 23, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
#sidebar {
  float: right;
  width: 200px;
  border: 1px solid #000;
  background-color: Green;
}

/* line 30, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
#content {
  float: right;
  width: 600px;
  border: 1px solid #F00;
  padding: 10px;
  background-color: #00ffe2;
}

/* line 38, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
tr.table_row {
  display: none;
}

/* line 42, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
.btn-divider {
  text-align: center;
  padding: 1px 4px 4px 1px;
  /*margin-right: 10px;*/
  /*margin-left: 10px;*/
  border-right: 1px solid #ffffff;
}

/* line 50, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
.my-grid {
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color: #eee;*/
  border: 1px solid #ddd;
  background-color: rgba(124, 107, 111, 0.15);
  border: 1px solid rgba(124, 123, 107, 0.2);
}

/* line 59, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* line 66, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
.bs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* line 75, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_main.scss */
.bs-social {
  margin-bottom: 20px;
  text-align: center;
}

/* line 1, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_header.scss */
.navbar {
  background: rgba(255, 255, 255, 0.85);
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/codropsicons/codropsicons.eot);
  src: url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/codropsicons/codropsicons.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/codropsicons/codropsicons.woff) format("woff"), url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/codropsicons/codropsicons.ttf) format("truetype"), url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/codropsicons/codropsicons.svg#codropsicons) format("svg");
}

@font-face {
  font-family: 'Blokk';
  src: url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/blokk/BLOKKRegular.eot);
  src: url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/blokk/BLOKKRegular.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/blokk/BLOKKRegular.woff) format("woff"), url(https://s3.amazonaws.com/stringulator-production/static/styles/fonts/blokk/BLOKKRegular.svg#BLOKKRegular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 35, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
body {
  background: #111111 url(https://s3.amazonaws.com/stringulator-production/static/images/body-bg.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #444;
  font-size: 110%;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.5em;
}

/* line 49, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.container-640px {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 10px;
}

/* line 56, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.padding-bottom-10 {
  padding-bottom: 10px;
}

/* line 60, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.header {
  background: rgba(255, 255, 255, 0.85);
  height: 70px;
  padding: 5px;
  overflow: hidden;
}

/* line 67, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.homepage {
  background: rgba(255, 255, 255, 0.9);
  max-width: 500px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

/* line 75, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.calculate {
  background: rgba(255, 255, 255, 0.9);
  max-width: 800px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

/* line 83, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.profile {
  background: rgba(255, 255, 255, 0.9);
  max-width: 800px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

/* line 91, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.homepage h1 {
  margin-top: 0;
  font-weight: 100;
}

/* line 96, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.footer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #ddd;
  font-size: 13px;
}

/* line 104, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.license {
  float: left;
}

/* line 108, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
.contributors {
  float: right;
}

@media all and (min-width: 650px) {
  /* line 114, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .morph-button {
    display: inline-block !important;
  }
}
@media all and (max-width: 650px) {
  /* line 130, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  body {
    background: #eee;
  }

  /* line 134, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .container-640px {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 139, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .homepage {
    background: #eee;
    max-width: initial;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
  }

  /* line 147, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .footer {
    max-width: initial;
    margin: 0 auto;
    text-align: center;
    color: #666;
    font-size: 13px;
    padding: 20px;
    width: 100%;
  }

  /* line 157, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .morph-button {
    margin: 10px 5px !important;
  }

  /* line 161, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .morph-button-fixed {
    width: 70px;
    font-size: 70%;
  }

  /* line 166, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .sb-search {
    margin-right: 0;
  }
}
@media all and (max-width: 480px) {
  /* line 174, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  body {
    background: #eee;
  }

  /* line 178, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .logo {
    width: 100px;
    margin-top: 15px;
  }

  /* line 183, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .sb-search {
    margin-right: 0px;
    margin-left: 5px;
  }

  /* line 188, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .morph-button {
    margin: 10px 5px !important;
  }

  /* line 192, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .morph-button-fixed {
    width: 70px;
    font-size: 70%;
  }

  /* line 197, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .content-style-form .icon-close {
    top: 15px;
    right: 15px;
    font-size: 80%;
  }

  /* line 203, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .hompepage {
    background: none;
    max-width: initial;
    margin: 0 auto;
    width: 100%;
  }

  /* line 210, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .padding-bottom-10 {
    padding-bottom: 0;
  }

  /* line 214, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .footer {
    max-width: initial;
    margin: 0 auto;
    text-align: left;
    color: #666;
    font-size: 13px;
    padding: 20px;
    width: 100%;
  }

  /* line 224, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_test.scss */
  .footer span {
    display: block;
    width: 100%;
    float: none;
  }
}
/* line 1, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_jquery-sortable.scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

/* line 5, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_jquery-sortable.scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 11, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_jquery-sortable.scss */
ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

/* line 15, D:/Dropbox/PycharmProjects/Stringulator-Web/stringulator/static/styles/partials/_jquery-sortable.scss */
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
