{% extends 'base.html' %}
{% load static %}
{% load get_range %}
{% block content %}
    {# String Set Name Form #}
    <form method='post' action='.'>
        {% csrf_token %}
        {% for field in string_set_form %}
            {% if field.name == 'name' %}
                String Set Name
            {% endif %}
            {{ field }}
        {% endfor %}
{#        <input type='submit' value="New Set">#}
    </form>
    <div>
        Scale Length
        <input id="scale_length" type="text" name="scale_length">
    </div>
    <table border="1" id="strings-tbl">
        <tr>
{#            <th>Set Name</th>#}
            <th>Number</th>
{#            <th>Scale Length</th>#}
            <th>Note</th>
            <th>Octave</th>
            <th>Gauge</th>
            <th>String Type</th>
{#            <th>Save</th>#}
{#            <th>Add String</th>#}
        </tr>
        {# New User String Form #}

        {% for i in MAX_STRINGS|get_range %} {% comment %}12 times{% endcomment %}
        <tr id="string_row{{ forloop.counter0 }}">
            {% include "includes/forms.html" %}
            <td id="tension{{ forloop.counter0 }}"></td>
            <td><button type="button" class="remove_btn" id="remove_btn{{ forloop.counter0 }}" >Hide</button></td>
        </tr>
        {% endfor %}
    </table>
    <button type="button" class="addstring_btn" >Add String</button>
    <input type='submit' value="Save">

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "assets/js/add_string.js" %}" type="text/javascript"></script>
    <script type="text/javascript"></script>
{% endblock %}