{% extends 'base.html' %}
{% block content %}

    {# String Set Name Form #}
    <form method='post' action='.'>
        <!-- display the form fields -->
        {% csrf_token %}
        {% for field in string_set_form %}
            {% if field.name == 'name' %}
                String Set Name
            {% endif %}
            {{ field }}
        {% endfor %}
        <!-- submit button -->
        <input type='submit' value="New Set">
    </form>

    {# New User String Form #}
    <form method='post' action='.'>
        <!-- display the form fields -->
        {% csrf_token %}
        {{ form.as_p }}
        <!-- submit button -->
        <input type='submit' value="Calculate">
    </form>


{% endblock %}