{% extends 'base.html' %}
{% load static %}
{% load get_range %}
{% block content %}

    {# Contains the json file for the strings in the string set #}
    <input type="hidden" id="string_data" name="variable" value='{{ json_data }}'>
    {# String Set Name #}
    <h3>Editting String Set: {{ string_set_name }}</h3>
    <br>

    <a href="#" id="insert-more"> Add New Row </a>
    <br>

    <table border="1" id="strings-tbl">
        <tr>
            <th>Number</th>
            <th>Note</th>
            <th>Octave</th>
            <th>Gauge</th>
            <th>String Type</th>
        </tr>

        {# New User String Form #}
        {% for i in MAX_STRINGS|get_range %}
            <tr id="string_row{{ forloop.counter0 }}">
                {% include "includes/forms.html" %}
            </tr>
        {% endfor %}
    </table>
    <button type="button" class="addstring_btn">Add String</button>
    <input type='submit' value="Save">



{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "assets/js/add_string.js" %}" type="text/javascript"></script>
    <script type="text/javascript"></script>
    <script src="{% static "assets/js/load_string_set_data.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var numberOfRows = 12;
        $("#insert-more").click(function () {
            $("#strings-tbl").each(function () {
                var tds = '<tr>';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + returnValidRow($(this).html(), numberOfRows) + '</td>';
                    //returnValidRow($(this).html(), index)
                    console.log($(this).html())
                });

                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }

                numberOfRows += 1;

            });
        });

        function returnValidRow(currentRow, rowNumber){
            //alert(currentRow);
            var id_tag = "_GTC_";
            if(currentRow.indexOf(id_tag) !== -1){
                tagIndex = currentRow.indexOf(id_tag);
                frontSubstring = currentRow.substr(0,tagIndex)
                backSubstring = currentRow.substr(tagIndex);
                while(backSubstring.charAt(0) != "\""){
                    backSubstring = currentRow.substr(tagIndex);
                    tagIndex += 1
                }
                backSubstring = currentRow.substr(tagIndex );
                console.log("Original " + currentRow)
                console.log("newrow " + frontSubstring + backSubstring)

                validRow = frontSubstring + id_tag + rowNumber + "\"" +  backSubstring
                console.log("valid Row: " + validRow)
                return validRow

            }
        }

        var string_set_data = document.getElementById("string_number_GTC_0").value;
        console.log(string_set_data)
        console.log("{{someDjangoVariable}}")
        var json = "{{someDjangoVariable}}".replace(/&quot;/g, "\"")
        var newJSON = json.replace("[", "{\"gstring\":[")
        var newJSON1 = newJSON.replace("]", "]}")
        console.log(newJSON1)
        json = json.slice(1);
        json = json.substring(0, json.length - 1);
        var json1 = JSON.stringify(eval("(" + newJSON1 + ")"));


        var json1 = jQuery.parseJSON(newJSON1);
        var keys = Object.keys(json1);
        console.log(keys);


        for (var index = 0; index < json1.gstring.length; index += 1){
            console.log("Guitar String: " + index)
            console.log("Note: " + json1.gstring[index].fields.note);
            console.log("Scale Length: " + json1.gstring[index].fields.scale_length);
            console.log("Gauge: " + json1.gstring[index].fields.gauge);
            console.log("Octave: " + json1.gstring[index].fields.octave);
            console.log("String Set Name: " + json1.gstring[index].fields.string_set);
            console.log("String Type: " + json1.gstring[index].fields.string_type);
            $('#string_number_GTC_' + index).val(json1.gstring[index].fields.string_number);
            $('#note_GTC_' + index).val(json1.gstring[index].fields.note);
            $('#scale_length_GTC_' + index).val(json1.gstring[index].fields.scale_length);
            $('#gauge_GTC_' + index).val(json1.gstring[index].fields.gauge);
            $('#octave_GTC_' + index).val(json1.gstring[index].fields.octave);
            $('#string_set_GTC_' + index).val(json1.gstring[index].fields.string_set);
            $('#string_type_GTC_' + index).val(json1.gstring[index].fields.string_type);
        }


    </script>

    <script type="text/javascript">
    </script>
{% endblock %}









