{% extends 'base.html' %}
{% load static %}
{% load get_range %}
{% block content %}
    {# Contains the json file for the strings in the string set #}
    <input type="hidden" id="string_data" name="variable" value='{{ json_data }}'>
    {# String Set Name #}
        Editting String Set: {{ string_set_name }}
        <br>
        Json Data:<br>
        <div id="forms"></div>




    {% comment %}<input type='submit' value="Calculate">
    <button type="button" class="addstring_btn">Add String</button>

   <table border="1" id="strings-tbl">
        <tr>
            {#            <th>Set Name</th>#}
            <th>String Number</th>
            {#            <th>Scale Length</th>#}
            <th>Note</th>
            <th>Octave</th>
            <th>Gauge</th>
            <th>String Type</th>
            {#            <th>Save</th>#}
            {#            <th>Add String</th>#}
        </tr>
        {# New User String Form #}
        {% load get_range %}
        {% for i in MAX_STRINGS|get_range %} {% endcomment %}{% comment %}{% endcomment %}{% comment %}12 times{% endcomment %}{% comment %}
            <tr id="string_row{{ forloop.counter0 }}">
            <form method='post' action='.'>
                {% csrf_token %}
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
            </form>
        {% endfor %}
        </tr>
    </table>
    {% endcomment %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "assets/js/add_string.js" %}" type="text/javascript"></script>
    <script type="text/javascript"></script>

    <script type="text/javascript">
        var json = "{{someDjangoVariable}}".replace(/&quot;/g, "\"")
        json = json.slice(1);
        json = json.substring(0, json.length - 1);
        //alert(json);
    </script>
{% endblock %}









{#        var json1 = JSON.stringify(eval("(" + json + ")"));#}
{#        alert(json1);#}
{#        json1 = jQuery.parseJSON(json1);#}
{#        var keys = Object.keys(json1);#}
{#        console.log(keys);#}
{#        for (var key in json1.fields) {#}
{#            document.write(key);#}
{#            document.write(json1[key]);#}
{#            console.log(json1[key]);#}
{#        }#}
{#    console.log(json1.fields.note);#}
{#    console.log(json1.fields.scale_length);#}
{#    console.log(json1.fields.gauge);#}
{#    console.log(json1.fields.octave);#}
{#    console.log(json1.fields.string_set);#}