{% extends 'base.html' %}

 {% block login %}
         <ul class="nav navbar-nav pull-right">
        {% if is_logged_in %}
            <li class="active"> <a href=/profile/>Profile: {{ username }}</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
        {% else %}
          {% if form.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
          {% endif %}

          <form class="navbar-form navbar-right"  action="/accounts/auth/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" value="" id="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" value="" id="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
          </form>
        {% endif %}
          </ul>
    {% endblock %}


{% block content %}
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    <h1>{{ username }}'s Profile</h1>
    <h2>String Sets {{ username }} Made</h2>
    {% for string_set in string_sets %}
        <li><p><a href="/calculate?string_set_name={{ string_set.name }}">{{ string_set.name }}</a>    <a
                href="/download-set?string_set_name={{ string_set.name }}" <span
                class="glyphicon glyphicon-floppy-save"></span></a></p></li>
    {% empty %}
        <p><a href="/calculate/">You have not made any string sets.</a></p>
    {% endfor %}
{% endblock %}

http://127.0.0.1:8000/edit-set?=