{% extends 'base.html' %}

{% load get_range %}

{% block content %}
  <div class="calculate">
    <form method="get" action="/save-set/">
      {#      <input type="hidden" id="string_data" name="variable" value='{{ json_string_set }}'>#}

      <div id="string-set-name" data-original-name="{{ string_set_name }}">
        <label for="name">Name</label>
        <a href="#">{{ string_set_name }}</a>
      </div>

      {#      <div id="description">#}
      {#        <label for="description">Description</label>#}
      {#        <a href="#">{{ description }}</a>#}
      {#      </div>#}
      {#      <div id="summernote">Hello Summernote</div>#}

      <div id="scale-length">
        <label for="description">Scale Length</label>
        <a href="#"></a>
      </div>
      <div class="panel panel-default">
        <table id="strings-table" class="table sortable-table table-bordered table-striped">
          <tr id="table-headers">
            <th>
              <div class="popover_header" id="number"></div>
            </th>
            <th>
              <div class="popover_header" id="note">Note</div>
            </th>
            <th>
              <div class="popover_header" id="octave">Octave</div>
            </th>
            <th>
              <div class="popover_header" id="gauge">Gauge</div>
            </th>
            <th>
              <div class="popover_header" id="string-type">String Type</div>
            </th>
            <th>
              <div class="popover_header" id="tension">Tension</div>
            </th>
            <th>

            </th>
          </tr>
          <tbody>
            <tr id="string-row-1" class="sortable-row">
              {% include "pretty-forms.html" %}
            </tr>
          </tbody>
        </table>
      </div>

      <div id="delete-alert" class="hidden alert alert-danger fade in" role="alert">
        <h4>Are you sure you want to delete the string row?</h4>

        <p>
          <button id="confirm-delete" type="button" class="btn btn-danger">Delete String Row</button>
          <button id="cancel-delete" type="button" class="btn btn-default">Cancel</button>
        </p>
      </div>
      <div id="calculate-error-alert" class="hidden alert alert-danger fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> A problem has occurred while calculating your string row input.
      </div>

      <div id="save-error-alert" class="hidden alert alert-danger fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> A problem has occurred while calculating your string row input.
      </div>

      <div>
        <button class="btn btn-primary" id="insert-more" type="button">
          <span class="glyphicon glyphicon-plus btn-divider"></span>
          Add String
        </button>
        <button class="btn btn-info" id="enable-drag-drop" type="button">
          <span class="glyphicon glyphicon-sort btn-divider"></span>
          <span id="drag-enable-message">Toggle Drag/Drop</span>
        </button>
        <button class="btn btn-success" id="save-set" type="submit" name="save-set" value="{{ string_set_name }}">
          <span class="glyphicon glyphicon-floppy-disk btn-divider"></span>
          Save String Set
        </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}

  <script type="text/javascript">
    loadStringSet(JSON.parse("{{ json_string_set | escapejs}}"));
  </script>

{% endblock %}