{% extends 'base.html' %}

{% load get_range %}

{% block content %}
  <div class="calculate">
    <form method="get" action="/save-set/">
      <input type="hidden" id="string_data" name="variable" value='{{ json_dump }}'>

      <div id="string-set-name">
        <a href="#" data-type="text">{{ string_set_name }}</a>
      </div>

      <div id="description">
        <label for="description">Description</label>
        <a href="#">{{ description }}</a>
      </div>

      <div id="scale-length">
        Scale Length
        <a href="#" data-pk="3"></a>
      </div>
      <div class="panel panel-default">
        <table id="strings-table" class="table sortable-table table-bordered table-striped">
          <tr id="table-headers">
            <th>
              <div class="popover_header" id="number">Number</div>
            </th>
            <th>
              <div class="popover_header" id="note">Note</div>
            </th>
            <th>
              <div class="popover_header" id="octave">Octave</div>
            </th>
            <th>
              <div class="popover_header" id="gauge">Gauge</div>
            </th>
            <th>
              <div class="popover_header" id="string-type">String Type</div>
            </th>
            <th>
              <div class="popover_header" id="tension">Tension</div>
            </th>
          </tr>

          {# New User String Form #}
{#          {% for i in 1|get_range %}#}
            <tr id="string-row-1">
              {% include "pretty-forms.html" %}
            </tr>
{#          {% endfor %}#}

        </table>
      </div>
      {#        <button id=insert-more type="button" class="btn btn-primary pull-left">Add String</button>#}
      {#        <button class="btn btn-success pull-right" type="submit">Save String Set</button>#}
      <table border="0">
        <tr>
          <td>
            <button class="btn btn-primary" id="insert-more" type="button">
              <span class="glyphicon glyphicon-plus btn-divider"></span>
              Add String
            </button>
          </td>

          <td>
            <button class="btn btn-success" id="save-set" type="submit" name="save-set" value="{{ string_set_name }}">
              <span class="glyphicon glyphicon-floppy-disk btn-divider"></span>
              Save String Set
            </button>
          </td>

        </tr>
      </table>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}

  <script type="text/javascript">
    loadStringSet(JSON.parse("{{ json_dump | escapejs}}"));

    {##}
    {##}
    {#    var numberOfRows = 1;#}
    {#    $("#insert-more").click(function () {#}
    {#      newRow()#}
    {#      resetBackgroundColor()#}
    {#      addChangeEvent()#}
    {#    });#}
    {##}
    {#    var string_set_data = document.getElementById("string_number_GTC_0").value;#}
    {#    var json = "{{someDjangoVariable}}".replace(/&quot;/g, "\"")#}
    {#    var newJSON = json.replace("[", "{\"gstring\":[")#}
    {#    var newJSON1 = newJSON.replace("]", "]}")#}
    {#    json = json.slice(1);#}
    {#    json = json.substring(0, json.length - 1);#}
    {#    var json1 = JSON.stringify(eval("(" + newJSON1 + ")"));#}
    {#    var json1 = jQuery.parseJSON(newJSON1);#}
    {#    var keys = Object.keys(json1);#}
    {##}
    {##}
    {#    for (var index = 0; index < json1.gstring.length; index += 1) {#}
    {#      newRow()#}
    {#      $('#string_number_GTC_' + index).val(json1.gstring[index].fields.string_number);#}
    {#      $('#note_GTC_' + index).val(json1.gstring[index].fields.note);#}
    {##}
    {##}
    {#      var gauge = formatGauge(json1.gstring[index].fields.gauge.toString());#}
    {#                  console.log(gauge);#}
    {##}
    {#      $('#gauge_GTC_' + index).val(gauge);#}
    {#      $('#octave_GTC_' + index).val(json1.gstring[index].fields.octave);#}
    {#      $('#string_set_GTC_' + index).val(json1.gstring[index].fields.string_set);#}
    {#      $('#string_type_GTC_' + index).val(json1.gstring[index].fields.string_type);#}
    {#      $('#scale_length').val(json1.gstring[index].fields.scale_length);#}
    {#    }#}
    {##}
    {##}
    {#    function formatGauge(gauge) {#}
    {#      gauge = (parseFloat(gauge).toString()).replace(/^[0]+/gi, '');#}
    {#      return gauge;#}
    {#    }#}
  </script>

{% endblock %}