{% load get_range %}

<td>
  <span class="string-number">1</span>
</td>

<td>
  <div class="note">
    <a href="#"></a>
  </div>
</td>

<td>
  <div class="octave">
    <a href="#"></a>
  </div>
</td>

<td>
  <div class="gauge">
    <a href="#"></a>
  </div>
</td>

<td>
  <div class="string-type">
    <a href="#"></a>
  </div>
</td>

<td>
  <div id="tension">
    -
  </div>
</td>
<td>
  <a class="delete btn btn-danger" onclick="delete_user($(this))">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</td>
