{% load get_range %}

<td>
  {#    <input type="text" class="row_input string_number_input user_input"#}
  {#           id="string-number-{{ forloop.counter0 }}"  size="3">#}
  <span class="string-number"></span>
</td>

<td>
  <div class="note">
    <a href="#"></a>
  </div>
</td>

<td>
  <div class="octave">
    <a href="#"></a>
  </div>
</td>

<td>
  <div class="gauge">
    <a href="#"></a>
  </div>
</td>

<td>
  <div class="string-material">
    <a href="#"></a>
  </div>
</td>
{##}
{#<td>#}
{#  <select id="string_type_GTC_{{ forloop.counter0 }}" name="string_type_GTC_{{ forloop.counter0 }}"#}
{#          class="row_input dropdown_input user_input">#}
{#    <option value="-">-</option>#}
{#    <option value="CKPLG"> Plain Steel - CK</option>#}
{#    <option value="CKWNG"> Nickel/Steel Hybrid - CK</option>#}
{#    <option value="DAPL">Plain Steel - DA</option>#}
{#    <option value="DAPB">Phosphore Bronze Wound - DA</option>#}
{#    <option value="DANW">Nickel Wound - DA</option>#}
{#    <option value="DAXS">Stainless Steel Wound - DA</option>#}
{#    <option value="DAHR">Half-Round Wound - DA</option>#}
{#    <option value="DACG">Chromes - Stainless Flat wound - DA</option>#}
{#    <option value="DAFT">Flat Tops - Phosphore Bronze - DA</option>#}
{#    <option value="DABW">80/20 Brass Round Wound - DA</option>#}
{#    <option value="DAZW">85/15 Great American Bronze - DA</option>#}
{#    <option value="DAXB">Bass - Nickel Plated Round Wound - DA</option>#}
{#    <option value="DAHB">Bass - Pure Nickel Half Round - DA</option>#}
{#    <option value="DABC">Bass - Stainless Steel Flat Wound - DA</option>#}
{#    <option value="DABS">Bass - ProSteel Round Wound - DA</option>#}
{#  </select>#}
{#</td>#}

<td>
  <div id="tension_GTC_{{ forloop.counter0 }}" name="tension_GTC_{{ forloop.counter0 }}">
    -
  </div>
</td>
<td>
  <a class="delete btn btn-danger" onclick="delete_user($(this))">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</td>
