{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
  <li><a href="/calculate">Calculate</a></li>

  {% if not is_logged_in %}
    <li class="active"><a href="/accounts/register">Register</a></li>
  {% endif %}
{% endblock %}

{% block content %}

  <h2>Register</h2>
  <form class="navbar-form navbar-center" action="/accounts/register/" method="post">
    {% csrf_token %}
    {{ form.username }}
    <br>
    {{ form.password1 }}
    <br>
    {{ form.password2 }}
    <br>
    {{ form. }}
    <br>
    <input type="submit" value="Register" class="btn btn-success"/>
  </form>
  <br>






{% endblock %}
{% block scripts %}
  {{ block.super }}
  {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
  {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>#}
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="http://mattlodes.com/static/opentip/downloads/opentip-jquery.js"></script>
  <!-- Change to the adapter you actually use -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script type="text/javascript">

    function setPlaceholder() {
      document.getElementById("id_username").placeholder = "username";
      document.getElementById("id_username").title = "Enter a valid username";
      document.getElementById("id_password1").placeholder = "password";
      document.getElementById("id_password1").title = "Enter a password";
      document.getElementById("id_password2").placeholder = "confirm password";
      document.getElementById("id_password2").title = "Re-Type Password";

    }
    setPlaceholder();

    $(function () {
      $(document).tooltip({
        {#        track:true,#}
        position: {
          my: "center bottom-20",
          at: "center top",
          using: function (position, feedback) {
            $(this).css(position);
            $("<div>")
                .addClass("arrow")
                .addClass(feedback.vertical)
                .addClass(feedback.horizontal)
                .appendTo(this);
          }
        }
      });
    });


  </script>


{% endblock %}