@import "variables";

.table th {
  text-align: center;
}

.no-border > td {
  border: 0 none !important;
}

//#strings-table {
//  font-size: $readable-size;
//}
//
//#string-set-name {
//  font-size: $readable-size;
//}
//
//#scale-length {
//  font-size: $readable-size;
//}
//
//#error-alert {
//  font-size: $readable-size;
//
//}

#error-message {
  display: table;
  margin: 0 auto;
  padding: 10px;
  > li {
    padding: 5px;
  }
}

.block {
  display: inline-block;
  padding: 5px;
  font-size: $readable-size;
}

.popover-content {
  font-size: $readable-size;
  font-weight: normal;
  line-height: 1.42857;
}

.popover-title {
  font-size: $readable-size;
  line-height: 1.42857;
}