@import 'functions';
@import url(http://styles/fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: static-url('styles/fonts/codropsicons/codropsicons.eot');
  src: static-url('styles/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
  static-url('styles/fonts/codropsicons/codropsicons.woff') format('woff'),
  static-url('styles/fonts/codropsicons/codropsicons.ttf') format('truetype'),
  static-url('styles/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
  font-family: 'Blokk';
  src: static-url('styles/fonts/blokk/BLOKKRegular.eot');
  src: static-url('styles/fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
  static-url('styles/fonts/blokk/BLOKKRegular.woff') format('woff'),
  static-url('styles/fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {

  background: #111 static-url('images/body-bg.jpg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #444;
  font-size: 110%;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.5em;
}

.container-640px {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.header {
  background: rgba(255, 255, 255, 0.85);
  height: 70px;
  padding: 5px;
  overflow: hidden;

}

.header-button {
  color: #444;
}

.homepage {
  background: rgba(255, 255, 255, .9);
  max-width: 800px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

.calculate {
  background: rgba(255, 255, 255, .9);
  max-width: 800px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

.profile {
  background: rgba(255, 255, 255, .9);
  max-width: 800px;
  padding: 40px;
  margin: 80px auto;
  margin-bottom: 0;
}

.homepage h1 {
  margin-top: 0;
  font-weight: 100;
}

.footer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #ddd;
  font-size: 13px;
  a, button {
    color: #d0d0d0;
    background-color: transparent;
    border: 0;
    padding: 0;
  }
}

.donate-form{
  float: right;
}

.left {
  float: left;
}

.contributors {

}

/*Kevin's changes*/

.homepage a:hover {
  text-decoration: none;
}

.header a {
  color: #444;
}

.header .morph-button button:hover {
  text-decoration: underline;
}

.header #search {
  height: 40px;
//  font-size: $readable-size;
  padding: 8px;
  border: 1px solid #ccc;
}

.navbar-form {
  margin: 10px 15px;
  padding: 0;
}

.search-button {
  height: 40px;
  border-radius: 0;
  background-color: #eee;
}

.content-style-form label {
  font-size: 10px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

div#string-set-name {
  font-size: $readable-size;
  padding: 5px;
}

div#scale-length {
  font-size: $readable-size;
  padding: 5px;
}

@media all and (min-width: 650px) {

  .morph-button {
    display: inline-block !important;
  }

}

@media all and (max-width: 1125px) {

}

@media all and (max-width: 800px) {

}

@media all and (max-width: 650px) {

  //  body {
  //    background: #eee;
  //  }

  .container-640px {
    padding-left: 20px;
    padding-right: 20px;
  }

  .homepage {
    background: #eee;
    max-width: initial;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
  }

  .footer {
    max-width: initial;
    margin: 0 auto;
    text-align: center;
    color: #666;
    font-size: 13px;
    padding: 20px;
    width: 100%;
  }

  .morph-button {
    margin: 10px 5px !important;
  }

  .morph-button-fixed {
    width: 70px;
    font-size: 70%;
  }

  .sb-search {
    margin-right: 0;
  }

}

@media all and (max-width: 480px) {

  //  body {
  //    background: #eee;
  //  }

  .logo {
    width: 100px;
    margin-top: 15px;
  }

  .sb-search {
    margin-right: 0px;
    margin-left: 5px;
  }

  .morph-button {
    margin: 10px 5px !important;
  }

  .morph-button-fixed {
    width: 70px;
    font-size: 70%;
  }

  .content-style-form .icon-close {
    top: 15px;
    right: 15px;
    font-size: 80%;
  }

  .hompepage {
    background: none;
    max-width: initial;
    margin: 0 auto;
    width: 100%;
  }

  .padding-bottom-10 {
    padding-bottom: 0;
  }

  .footer {
    max-width: initial;
    margin: 0 auto;
    text-align: left;
    color: #666;
    font-size: 13px;
    padding: 20px;
    width: 100%;
  }

  .footer span {
    display: block;
    width: 100%;
    float: none;
  }
}

