$STATIC_URL: '';
@if $debug {
  $STATIC_URL: '/static/';
} @else {
//  $STATIC_URL: 'https://s3.amazonaws.com/stringulator-production/static/';
  $STATIC_URL: 'https://s3-us-west-2.amazonaws.com/stringulator-dev/static/';
}
